<!DOCTYPE html>
<html>
<head>
	<title>用户注册</title>
	<link rel="stylesheet" href="/css/newStyle.css"/>
</head>
<body>
	<div id="register"></div>
</body>
<script type="text/javascript">
	var pageParas ={
      formInit : [
        {name:"userName", alias:"用户名" ,type:"input" ,notNull:true,placeholder:"联系人姓名"} ,
        {name:"passWord", alias:"密码" ,type:"input",notNull:true,placeholder:"请填写手机号"} ,
      ],
      url : "/register",
      title : "用户注册",
      method : "POST"
    }  
</script>
<script src="/js/commonV3.js"></script>
<script src="/js/register-bundle.js"></script>
</html>